@use '../../global.scss' as *;

.card {
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: 100%;
  &Image {
    width: max(150px, 40%);
    min-width: max(150px, 40%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    border-right: 1px solid #f5f5f5;
  }

  &Content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    min-width: 0;
  }

  &Title {
    color: var(--primary-color);
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }

  &Description {
    display: inline-block;
    width: 100%;
    color: var(--secondary-color);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
  }
}

@media (min-width: $breakpoint-mobile) {
  .card {
    height: unset;
    &Image {
      width: max(180px, 33%);
      min-width: max(180px, 33%);
      max-height: unset;
    }
  }
}
