.bouncingPiggy {
  display: inline-block;
  animation-name: bounceWindow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  // same as above but with one line:
  // animation: bounceWindow 20s 2s ease-in-out infinite;
  will-change: transform;
}

@keyframes bounceWindow {
  0%,
  8%,
  20%,
  32%,
  40% {
    transform: translateY(0);
  }
  16% {
    transform: translateY(-15px);
  }
  24% {
    transform: translateY(-8px);
  }

  40%,
  100% {
    transform: translateY(0);
  }
}

// Disable animation for users who prefer reduced motion
@media (prefers-reduced-motion: reduce) {
  .bouncing-piggy {
    animation: none;
  }
}
