@use './global.scss' as *;

.app {
  min-height: 100vh;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/background.png');
    background-size: cover;
    background-position: 50% center;
    filter: none;
    z-index: -1;

    @media (min-width: 1000px) {
      background-position: unset;
    }
  }
}
