@use './global.scss' as *;

.app {
  min-height: 100vh;
  padding: 16px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/background.png');
    background-size: cover;
    filter: none;
    z-index: -1;
  }
}

.title {
  text-align: center;
  color: var(--white);
  margin-bottom: 32px;
  font-size: clamp(24px, 12vw, 64px);
  font-weight: bold;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.1);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin: 0 auto;
  max-width: 1240px;
}

@media (min-width: $breakpoint-mobile) {
  .cardsContainer {
    grid-auto-rows: 1fr;
  }
}
